@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
body {
    font-family: 'Josefin Sans', sans-serif;
}

.strzalka {
    font-size: 2em;
}

.background-animate {
    background-size: 2000%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
}

.tlo-apple {
    background-color: rgba(255, 255, 255, 0.7);
}

@keyframes AnimationName {
    0%,
    100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}